body, h1, h2, h3, p, dl, dd, ol, ul, th, td, form, fieldset, input, button, textarea {
    margin: 0;
    padding: 0
}

html {
    -webkit-text-size-adjust: none;
    word-wrap: break-word
}

h1, h2, h3 {
    font-size: 100%
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: inherit
}

fieldset, img {
    border: 0
}

cite, em, s, i, b {
    font-style: normal
}

input, button, textarea, select {
    font-size: 100%
}

body, input, button, textarea, select, option {
    font-size: normal
}

a, input, textarea {
    text-decoration: none;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

li, img, label, input {
    vertical-align: middle
}

var {
    font-style: normal
}

ins {
    text-decoration: none
}

body {
    font-size: 20px
}

.viewport {
    max-width: 720px;
    margin: auto;
    overflow: hidden
}

.mlr20 {
    margin: auto 1em
}

.m20 {
    margin: 1em 0
}

.m30 {
    margin: 1.5em 0
}

.mt20 {
    margin-top: 1em
}

.mb20 {
    margin-bottom: 1em
}

.mt40 {
    margin-top: 2em
}

.mb40 {
    margin-bottom: 2em
}

.mt-20 {
    margin-top: -1em
}

.hide {
    display: none
}

.h_box {
    display: -webkit-box;
    display: box;
    width: 100%
}

.h_box .spacer {
    width: 1em
}

.flex_1 {
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 100%
}

.flex_20 {
    width: 1em
}

.w-auto {
    width: auto;
}

.imgurl {
    display: block;
    /*background: #F5F5F6;*/
    -webkit-background-size: 9.5em 9.5em;
    -moz-background-size: 9.5em 9.5em;
    -ms-background-size: 9.5em 9.5em;
    -o-background-size: 9.5em 9.5em;
    background-size: 9.5em 9.5em;
    width: 100%
}

.imgurl img {
    width: 100%;
}

.imgurl-title {
    padding: 10px;
}

.header_03 {
    width: 100%;
    height: 4.85em;
    background: #F4F4F4;
    position: relative
}

.header_03 .tit {
    font-size: 1.9em;
    line-height: 2.55263em;
    color: #464646;
    text-align: center
}

.header_03 .back {
    position: absolute;
    top: 0;
    left: 0
}

.header_03 .back a {
    display: block;
    font-size: 1.9em;
    font-weight: 700;
    line-height: 2.55263em;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, .2) 1px 1px 4px;
    padding: 0 .52632em
}

.header_03 .back a.arrow {
    font-size: 1em;
    width: 3.5em;
    height: 4.85em;
    text-indent: -999em;
    overflow: hidden;
    background: url(http://img01.mifile.cn/m/app/v2/images/v3/icon_01.png) 50% 50% no-repeat;
    -webkit-background-size: 2.5em 2.5em;
    -moz-background-size: 2.5em 2.5em;
    -ms-background-size: 2.5em 2.5em;
    -o-background-size: 2.5em 2.5em;
    background-size: 2.5em 2.5em
}

.tipheader a {
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-align: center;
    line-height: 2.5em;
    background: #FF4718;
    color: #FCE0C3
}

.button {
    font-size: 1.7em;
    display: block;
    font-weight: 700;
    text-align: center;
    line-height: 2.61765em;
    -webkit-border-radius: .23529em;
    -moz-border-radius: .23529em;
    -ms-border-radius: .23529em;
    -o-border-radius: .23529em;
    border-radius: .23529em;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    text-shadow: rgba(0, 0, 0, .3) 0 -1px 0
}

.button.active_button {
    color: #FFF;
    background: #F60;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -ms-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -o-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    border-top-color: #DB6100;
    border-left-color: #E56000;
    border-right-color: #E56000;
    border-bottom-color: #DF4D00
}

.button.active_button:active, .button.active_button:hover {
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -moz-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -ms-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -o-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    border-top-color: #AD4D00;
    border-left-color: #AD4D00;
    border-right-color: #C85100;
    border-bottom-color: #D74A00
}

.button.disable_button {
    color: #515459;
    text-shadow: rgba(0, 0, 0, .1) 0 1px 0;
    background: #CCC;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -ms-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -o-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    border-top-color: #D3D4D5;
    border-left-color: #DADBDD;
    border-right-color: #DADBDD;
    border-bottom-color: #DADBDD
}

.button.disable_button:active, .button.disable_button:hover {
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -moz-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -ms-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -o-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    border-top-color: #A7A8A9;
    border-left-color: #C4C5C6;
    border-right-color: #C4C5C6;
    border-bottom-color: #D2D3D5
}

.pad-app {
    position: relative;
    margin-top: 75px;
    border-bottom: 1px solid #eee
}

.pad-app img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.pad-app .b0 {
    position: absolute;
    left: 0;
    bottom: 1.2em;
    width: 100%;
    text-align: right
}

.pad-app .b0 .b01 {
    display: inline-block;
    margin-right: 1em;
    font-size: .8em
}

.pad-app .b0 .b02 {
    display: inline-block;
    margin-right: 1.2em;
    font-size: .8em;
    color: #F60
}

.pad-app .b0 .b03 {
    padding-top: .8em
}

.pad-app .button {
    font-size: .8em;
    display: inline-block;
    padding: 0 1em;
    margin-right: 1.2em;
    font-weight: 700;
    text-align: center;
    line-height: 2.61765em;
    -webkit-border-radius: .23529em;
    -moz-border-radius: .23529em;
    -ms-border-radius: .23529em;
    -o-border-radius: .23529em;
    border-radius: .23529em;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    text-shadow: none;
    box-shadow: none
}

.pad-app .button.active_button {
    color: #FFF;
    background: #F60;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -ms-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -o-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    border-top-color: #DB6100;
    border-left-color: #E56000;
    border-right-color: #E56000;
    border-bottom-color: #DF4D00
}

.pad-app .button.active_button:active, .pad-app .button.active_button:hover {
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -moz-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -ms-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -o-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    border-top-color: #AD4D00;
    border-left-color: #AD4D00;
    border-right-color: #C85100;
    border-bottom-color: #D74A00
}

.pad-app .button.disable_button {
    color: #515459;
    text-shadow: rgba(0, 0, 0, .1) 0 1px 0;
    background: #CCC;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -ms-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    -o-box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    box-shadow: rgba(0, 0, 0, .1) 0 .02941em .11765em 0 inset;
    border-top-color: #D3D4D5;
    border-left-color: #DADBDD;
    border-right-color: #DADBDD;
    border-bottom-color: #DADBDD
}

.pad-app .button.disable_button:active, .pad-app .button.disable_button:hover {
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -moz-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -ms-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    -o-box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    box-shadow: rgba(0, 0, 0, .3) 0 .05882em .11765em .02941em inset;
    border-top-color: #A7A8A9;
    border-left-color: #C4C5C6;
    border-right-color: #C4C5C6;
    border-bottom-color: #D2D3D5
}

.bt_mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 11;
    display: none
}

.bt_panel {
    position: absolute;
    top: 5em;
    left: 50%;
    z-index: 12;
    width: 33em;
    margin-left: -16.5em;
    background: #FFF;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-shadow: rgba(0, 0, 0, .4) 0 0 1em;
    -moz-box-shadow: rgba(0, 0, 0, .4) 0 0 1em;
    -ms-box-shadow: rgba(0, 0, 0, .4) 0 0 1em;
    -o-box-shadow: rgba(0, 0, 0, .4) 0 0 1em;
    box-shadow: rgba(0, 0, 0, .4) 0 0 1em;
    display: none
}

.bt_panel .bt_close {
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 1em;
    right: 1em
}

.bt_panel .bt_close img {
    width: 100%;
    height: 100%
}

.bt_panel .bt_content {
    text-align: center;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

.bt_panel .bt_content .bt {
    display: none;
    padding: 3.3em 0 3em
}

.bt_panel .bt_content .bt .imgurl {
    width: 27.25em;
    min-height: 15em;
    margin: 2em auto
}

.bt_panel .bt_content .bt .imgurl img {
    width: 100%;
    background: #FFF
}

.bt_panel .bt_content .bt .tit p {
    font-size: 2.2em;
    font-weight: 700;
    color: #51555A
}

.bt_panel .bt_content .bt .tips {
    line-height: 2em;
    margin: 0 3em
}

.bt_panel .bt_content .bt .tips p {
    font-size: 1.3em;
    color: #656D78
}

.bt_panel .bt_content .bt .tips p .button {
    font-size: 1.30769em
}

.bt_panel .bt_content .bt .button {
    white-space: nowrap;
    margin-top: .58824em
}

.b3 .lazy {
    min-height: 10em
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative
}

.swipe0 {
    border-bottom: 1px solid #eee
}

.swipe-wrap {
    overflow: hidden;
    position: relative
}

.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative
}

.swipe-nav {
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0
}

.swipe-nav ul {
    display: box;
    display: -webkit-box;
    box-align: center;
    -webkit-box-align: center;
    box-pack: center;
    -webkit-box-pack: center
}

.swipe-nav ul li {
    width: .8em;
    height: .8em;
    margin: 0 .4em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
    background: #e5e5e5;
    opacity: .8
}

.swipe-nav ul li.on {
    background: #ccc
}

.viewport {
    background: #FFF
}

.loading {
    background: #FFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

.lazy {
    min-height: 20em
}

.nav ul {
    overflow: hidden;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    margin-top: 20px;
}

.nav ul li {
    float: left;
    width: 100%;
    /*width: 25%*/
}

.nav ul li a {
    display: block;
    font-size: 1.3em;
    line-height: 3em;
    color: #333;
    text-align: center
}

.nav ul li a.on {
    color: #F60
}

.b11, .b12 {
    margin-left: 1.4em;
    margin-right: 1.4em
}

.b11 {
    margin-top: 1em;
    margin-bottom: .5em
}

.b11 p {
    font-size: 1.8em
}

.b12 {
    margin-bottom: 1em
}

.b12 p {
    font-size: 1.8em;
    color: #F60
}

.b13 {
    display: box;
    display: -webkit-box;
    margin: 0 .5em
}

.b13 > a {
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 100%;
    margin: 0 .5em
}

.b13 a {
    white-space: nowrap
}

@media only screen and (max-width: 300px) {
    body {
        font-size: 8.33333px
    }

    .viewport {
        max-width: 300px
    }
}

@media only screen and (max-width: 310px) and (min-width: 300px) {
    body {
        font-size: 8.33333px
    }

    .viewport {
        max-width: 300px
    }
}

@media only screen and (max-width: 320px) and (min-width: 310px) {
    body {
        font-size: 8.88889px
    }

    .viewport {
        max-width: 320px
    }
}

@media only screen and (max-width: 360px) and (min-width: 320px) {
    body {
        font-size: 8.88889px
    }

    .viewport {
        max-width: 360px
    }
}

@media only screen and (max-width: 360px) and (min-width: 350px) {
    body {
        font-size: 10px
    }

    .viewport {
        max-width: 360px
    }
}

@media only screen and (max-width: 480px) and (min-width: 360px) {
    body {
        font-size: 10px
    }

    .viewport {
        max-width: 480px
    }
}

@media only screen and (max-width: 480px) and (min-width: 470px) {
    body {
        font-size: 13.33333px
    }

    .viewport {
        max-width: 480px
    }
}

@media only screen and (max-width: 560px) and (min-width: 480px) {
    body {
        font-size: 13.33333px
    }

    .viewport {
        max-width: 560px
    }
}

@media only screen and (max-width: 570px) and (min-width: 560px) {
    body {
        font-size: 15.83333px
    }

    .viewport {
        max-width: 570px
    }
}

@media only screen and (max-width: 640px) and (min-width: 570px) {
    body {
        font-size: 15.83333px
    }

    .viewport {
        max-width: 640px
    }
}

@media only screen and (max-width: 640px) and (min-width: 630px) {
    body {
        font-size: 17.77778px
    }

    .viewport {
        max-width: 640px
    }
}

@media only screen and (max-width: 710px) and (min-width: 640px) {
    body {
        font-size: 17.77778px
    }

    .viewport {
        max-width: 710px
    }
}